{% extends "master.html" %}


{% block title %}
Edit Password
{% endblock %}

{% block style %}
<style>
  #emailForm {

  }

  #codeForm {
    display: none;
  }

  #passwordForm {
    display: none;
  }

</style>
{% endblock %}

{% block content %}
  <form method="post" onsubmit="sendEmail('email');return false;" id="emailForm">
    {% csrf_token %}

    {% for field in emailForm %}
      {{ field.label_tag }} {{ field }}
    {% endfor %}

    <input type="submit" value="Send">
  </form>

  <form method="POST" onsubmit="sendCode('code');return false;" id="codeForm">
    {% csrf_token %}

    <p>Мы отправили вам 6-значный код на почту, которую вы указали при регистрации. Код будет действителен 2 минуты. Пожалуйста введите его:</p>
    {{ codeForm.code.label_tag }} {{ codeForm.code }}

    <input type="submit" value="Post">
  </form>

  <form method="post" onsubmit="sendPassword('password');return false;" id="passwordForm">
    {% csrf_token %}

    {% for field in passwordForm %}
      {{ field.label_tag }} {{ field }}
    {% endfor %}

    <input type="submit" value="Send">
  </form>
    
  <script>
    let EMAIL = null

    async function sendEmail() {
      form = document.querySelector("#emailForm")

      // EMAIL = form

      let res = await fetch(
        "/api/auth/editPassword/", {
        method: "POST",
        headers: {
          "action": "email"
        },
        body: new FormData(form),
      });

      if (res.ok) {
        form.style.display = "none"
        document.querySelector("#codeForm").style.display = "block"

        data = res.json()
        EMAIL = data["email"]
      }
      else {
        alert("Error!!!")
      }
    }

    async function sendCode() {
      form = document.querySelector("#codeForm")

      let res = await fetch(
        "/api/auth/editPassword/", {
        method: "POST",
        headers: {
          "action": "code"
        },
        body: new FormData(form),
      });

      if (res.ok) {
        form.style.display = "none"
        document.querySelector("#passwordForm").style.display = "block"
      }
      else {
        alert("Error!!!")
      }
    }

    async function sendPassword() {
      form = document.querySelector("#passwordForm")

      let res = await fetch(
        "/api/auth/editPassword/", {
        method: "POST",
        headers: {
          "action": "password"
        },
        body: new FormData(form),
      });

      if (res.ok) {
        window.location.replace("/auth/login/")
      }
      else {
        alert("Error!!!")
      }
    }
  </script>
{% endblock %}